<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" resultType="string">
		SELECT id 
		FROM users
		WHERE id=#{id}
	</select>
	
	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, pwd, email, regdate)
		VALUES(#{id }, #{pwd }, #{email }, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT id, pwd, email, profile, regdate
		FROM users
		WHERE id=#{id }
	</select>
	
	<update id="pwdUpdate" parameterType="usersDto">
		UPDATE users
		SET pwd=#{newPwd }
		WHERE id=#{id }
	</update>
	
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET email=#{email }, profile=#{profile }
		WHERE id=#{id }
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
</mapper>






